<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Panel</title>

</head>
<body>
<style>
    body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
}

section {
    margin: 20px;
}

</style>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/userpanel">User Panel</a></li>
            <li>
                <a href="/admin">Admin Panel</a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>User Panel</h1>
    <p>Welcome to the user panel. You can access your personal dashboard here.</p>
</section>
</body>
</html>
